/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 8rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }

  .btnContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .navbar {
    padding: 0;
  }
}

.btnContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 1rem
}

.button {
  width: 180px;
  height: 50px;
  border-radius: 40px;
  margin-top: 2rem;

  display: flex;
  align-items: center;
  justify-content: center;
}